{%- from "templates/print_formats/standard_macros.html" import add_header, render_field, print_value, fieldmeta,
	get_width, get_align_class with context -%}

{% for page in layout %}
<div class="page-break">
	<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>
	<style>
		.taxes-section .order-taxes.mt-5{
			margin-top: 0px !important;
		}
		.taxes-section .order-taxes .border-btm.pb-5{
			padding-bottom: 0px !important;
		}
		.print-format label{
			color: #74808b;
			font-size: 12px;
		}

	</style>

	{% if print_settings.repeat_header_footer %}
	<div id="footer-html" class="visible-pdf">
		{% if not no_letterhead and footer %}
		<div class="letter-head-footer">
			{{ footer }}
		</div>
		{% endif %}
		<p class="text-center small page-number visible-pdf">
			{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
	</div>
	{% endif %}

	<div class="row section-break" style="margin-bottom: 10px;">
		<div class="col-xs-8 p-0">
			<div class="col-xs-12 value"><b>{{ doc.customer }}</b></div>
			<div>
				{% set address = frappe.db.get_value(
					doctype="Address",
					filters=[
						["Dynamic Link", "link_doctype", "=", "Customer"],
						["Dynamic Link", "link_name", "=", doc.customer],
						["Dynamic Link", "parenttype", "=", "Address"],
					],
					fieldname="*",
					as_dict=True
					)
				%}
				{% if address %}
					<div class="col-xs-12">
						{{ address.address_title+"," if address.address_title else '' }} {{ address.address_line1 }}
					</div>
					<div class="col-xs-12">
						{{ address.address_line2+"," if address.address_line2 else '' }}
						{{ address.city }}
						{{ address.pincode if address.pincode else '' }}
					</div>
					<div class="col-xs-12">{{ address.country }}</div>
				{% endif %}
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-3" style="padding-left: 28px;">
			<div>
				<div><label class="text-uppercase">{{ _("Date") }}</label></div>
				<div>{{ frappe.utils.format_date(doc.posting_date) }}</div>
			</div>
			<div style="margin-top: 10px;">
				<div><label class="text-uppercase">{{ _("Payment Due Date") }}</label></div>
				<div>{{ frappe.utils.format_date(doc.due_date) }}</div>
			</div>
		</div>
	</div>

	<div class="section-break">
		<table class="table table-bordered table-condensed mb-0" style="width: 100%; border-collapse: collapse; font-size: 12px;">
			<colgroup>
				<col style="width: 5%">
				<col style="width: 45%">
				<col style="width: 10%">
				<col style="width: 20%">
				<col style="width: 20%">
			</colgroup>
			<thead>
				<tr>
					<th class="text-uppercase" style="text-align:center">{{ _("Sr") }}</th>
					<th class="text-uppercase" style="text-align:center">{{ _("Details") }}</th>
					<th class="text-uppercase" style="text-align:center">{{ _("QTY") }}</th>
					<th class="text-uppercase" style="text-align:right">{{ _("Rate") }}</th>
					<th class="text-uppercase" style="text-align:right">{{ _("Amount") }}</th>
				</tr>
			</thead>
			{% for item in doc.items %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>
					<b>{{ item.item_code }}: {{ item.item_name }}</b>
					{% if (item.description != item.item_name) %}
						<br>{{ item.description }}
					{% endif %}
				</td>
				<td style="text-align: center;">
					{{ item.get_formatted("qty", 0) }}
					{{ item.get_formatted("uom", 0) }}
				</td>
				<td style="text-align: right;">{{ item.get_formatted("net_rate", doc) }}</td>
				<td style="text-align: right;">{{ item.get_formatted("net_amount", doc) }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td rowspan=5 colspan=2 style="vertical-align: top !important;">
					<b>Amount in Words</b><br>
					{{ doc.in_words }}
				</td>
				<td colspan=2 class="text-uppercase" style="font-weight: bold;">Sub Total</td>
				<td style="text-align: right;">{{ doc.get_formatted("net_total", doc) }}</td>
			</tr>

			{% for d in doc.taxes %}
				{% if d.tax_amount %}
					<tr>
						<td colspan=2 >{{ d.description }}</td>
						<td style="text-align: right;">{{ d.get_formatted("tax_amount") }}</td>
					</tr>
				{% endif %}
			{% endfor %}
			<tr>
				<td colspan=2 class="text-uppercase" style="font-weight: bold;">Total</td>
				<td style="text-align: right;">{{ doc.get_formatted("grand_total", doc) }}</td>
			</tr>
		</table>
	</div>


	<div class="row section-break">
		<div class="col-xs-12">
			<div class="row important data-field">
				<div class="col-xs-12"><label class="text-uppercase">{{ _("Terms and Conditions") }}: </label></div>
				<div class="col-xs-12">{{ doc.terms if doc.terms else '' }}</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
